body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    position: relative; /* Add this to position footer relative to the container */
}

h1 {
    margin-bottom: 20px;
}

.password-output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.password-output input {
    width: 75%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-output button {
    padding: 5px 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.password-output button:hover {
    background: #0056b3;
}

form label {
    display: block;
    margin: 10px 0;
}

form div {
    margin: 15px 0;
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.buttons button {
    flex: 1;
    margin: 0 5px;
}

/* Footer Styling */
.footer {
    position: absolute;  /* Position the footer absolutely */
    right: 0;  /* Align it to the right side of the container */
    bottom: -40px;  /* Move it down slightly from the bottom of the container */
    background-color: black;
    text-align: center;
    padding: 20px 0;
    width: 100%; /* Ensure it takes the full width */
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-icon {
    color: aliceblue;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-icon:hover {
    color: #81c784;
    /* Adjust the hover color if needed */
}

.footer-icon i {
    font-size: 2rem;
}
